<p-table #dt [value]="users" dataKey="id" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    [tableStyle]="{'min-width': '50rem'}"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,50]"
    [globalFilterFields]="['name']">
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(dt)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">
                Name
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="creationDate">
                Creation date
                <p-sortIcon field="creationDate"></p-sortIcon>
                <p-columnFilter type="date" field="creationDate" display="menu"></p-columnFilter>
            </th>
            <th>
                Type
                <p-columnFilter field="type" matchMode="equals" display="menu">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="userTypes" (onChange)="filter($event.value)"
                            placeholder="Choose type">
                            <ng-template let-option pTemplate="item">
                                <span>{{option}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.creationDate | date:"fullDate"}}</td>
            <td>{{user.type}}</td>
        </tr>
    </ng-template>
</p-table>